.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.role-tag-div {
  width: 100%;
  margin-bottom: 30px;
  margin-right: 0;
  color: orange;
  background-color: transparent;
  border: 1px solid orange;
  padding: 18px;
  border-radius: 6px;
  width: 250px;
  font-size: 30px;
  font-weight: 700;
}
.select-div {
  width: 100%;
  margin-bottom: 30px;
  margin-right: 0;
}
.checker {
  width: 100%;
  margin-bottom: 10px;
  margin-left: 0;
}

select {
  color: orange;
  background-color: transparent;
  border: 1px solid orange;
  padding: 18px;
  border-radius: 6px;
  width: 250px;
  font-size: 18px;
}

select:focus {
  border-color: rgb(201, 112, 3);
}
option {
  background-color: rgb(40, 47, 62);
  color: rgb(255, 166, 0);
}

option:hover {
  background-color: darkorange;
  color: white;
}
